<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Mirror Record</title>
  <meta name="description" content="">
  <%= require('html-loader!./partials/head.html') %>
</head>
<body>
<%= require('html-loader!./partials/browserupgrade.html') %>
<div class="d-flex flex-column h-100">
  <%= require('html-loader!./partials/header.html') %>

  <main class="d-flex h-100 align-items-center">
    <div class="container">
      <section class="d-flex align-content-center justify-content-center mb-4">
        <video id="video"></video>
      </section>
      <section class="d-flex align-content-center justify-content-center">
        <button class="btn-record btn btn-primary mr-4">Record</button>
        <button class="btn-stop btn btn-primary">Stop</button>
      </section>
    </div>
  </main>

  <%= require('html-loader!./partials/footer.html') %>
</div>
</body>
</html>
